body {
    counter-reset: bin -1 preset 0;
}

#root_Customer_Hopping\ Presets {
    position: absolute;
    left: 15px;
    right: 0px;
    overflow-x: scroll;
}

#root_Customer_Hopping\ Presets .array-item:nth-child(odd) .col-xs-9,
#root_Customer_Hopping\ Presets .array-item:nth-child(even) .col-xs-9 {
    background-color: inherit;
}

#root_Customer_Hopping\ Presets .row.array-item-list {
    clear: both;
    margin-left: 0px;
    margin-right: 0px;
}

#root_Customer_Hopping\ Presets > .row.array-item-list {
    width: 3000px;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item {
    width: 130px;
    float: left;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item:nth-child(+1) {
    width: 200px;
    float: left;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item > .col-xs-9 > .form-group.field.field-array > fieldset > legend {
    text-align: right;
    padding-right: 50px;
    margin-bottom: 0px;
}

#root_Customer_Hopping\ Presets .col-xs-3.col-xs-offset-9.text-right.array-item-add {
    width: 68px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 120px;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item > .col-xs-9 > .form-group.field.field-array {
    top: 0px;
    left: 0px;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item .col-xs-9 {
    width: 100%;
    padding: 0px;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item:nth-child(n+2) .col-xs-9 .control-label {
    display: none;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item:nth-child(n+2) .col-xs-9 .form-control {
    width: 90%;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item:nth-child(+1) .col-xs-9 .form-control {
    width: 55%;
    float: right;
    margin-right: 15px;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item .col-xs-9 .form-group.field.field-integer {
    margin-bottom: 7px;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item .row.array-item-list .array-item-toolbox {
    display: none;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item > .array-item-toolbox {
    position: absolute;
    width: 20px;
    right: 7px;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item {
    position: relative;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item .col-xs-9 .form-group.field.field-integer > .control-label::after {
    counter-increment: bin;
    content: "Bin " counter(bin);
    position: relative;
    top: 2px;
    float: right;
}

#root_Customer_Hopping\ Presets .required {
    display: none;
}

#root_Customer_Hopping\ Presets > .row.array-item-list > .array-item > .col-xs-9 > .form-group.field.field-array > fieldset > legend::after {
    counter-increment: preset;
    content: "Preset " counter(preset);
}

#root_Customer > .form-group.field.field-array {
    height: 900px;
}
