.mks-margin-right-5px {
  margin-right: 5px;
}

.mks-invisible {
  visibility: hidden;
}

.mks-background-color {
  background-color: rgb(010, 087, 164);
}

.mks-margin-top-60px {
  margin-top: 0px;
}

.nav-sidebar > li > a.active,
.nav-sidebar > li > a.active:hover,
.nav-sidebar > li > a.active:focus {
  color: #fff;
  background-color: #428bca;
}

.navbar-inverse {
  background-color: #428bca;
  border-color: #428bca;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.mks-width-5em {
  width: 5em;
}

button[type='submit'] {
  position: absolute;
  top: 20px;
  right: 0px;
  content: 'Save';
}

#mks-download-firmware-btn {
  position: relative;
  top: 20px;
  right: 123px;
}

.mks-selected.list-group-item-info {
  background-color: #51a0f7;
  border-color: #51a0f7;
  color: white;
}

.mks-position-relative-bottom-10px {
  position: relative;
  bottom: 10px;
}

.mks-position-relative-bottom-5px {
  position: relative;
  bottom: 5px;
}

.mks-position-relative-bottom-3px {
  position: relative;
  bottom: 3px;
}

.mks-position-absolute-right-15px {
  position: absolute;
  right: 15px;
}

.mks-bottom-5px {
  bottom: 5px;
}

.mks-cursor-pointer {
  cursor: pointer;
}

.mks-padding-bottom-2px {
  padding-bottom: 2px;
}

.mks-margin-left-15px {
  margin-left: 15px;
}

.mks-margin-left-5px {
  margin-left: 5px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
a.list-group-item-info.active,
a.list-group-item-info.active:focus,
a.list-group-item-info.active:hover,
button.list-group-item-info.active,
button.list-group-item-info.active:focus,
button.list-group-item-info.active:hover {
  color: black;
  background-color: lightblue;
  border-color: lightblue;
}

.list-group-item.mks-active,
.list-group-item.mks-active:focus,
.list-group-item.mks-active:hover,
a.list-group-item-info.mks-active,
a.list-group-item-info.mks-active:focus,
a.list-group-item-info.mks-active:hover,
button.list-group-item-info.mks-active,
button.list-group-item-info.mks-active:focus,
button.list-group-item-info.mks-active:hover {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

.mks-bold {
  font-weight: bold;
}

.mks-position-absolute-top-right-15px {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* color blind */

.list-group-item-success.mks-color-blind {
  color: black;
  background-color: #1aff1a !important;
}

.list-group-item-danger.mks-color-blind {
  color: white;
  background-color: #dc3220 !important;
}

.list-group-item-info.mks-color-blind {
  color: white;
  background-color: #1a85ff;
}


.list-group-item-info.mks-selected.mks-color-blind {
  color: white;
  background-color: #005ab5;
}

.mks-color-black {
  color: black;
}

.mks-download-modified-configs-file-btn {
  position: absolute;
  right: 140px;
  top: 20px;
}

.mks-z-index-1 {
  z-index: -1;
}

.mks-display-none {
  display: none;
}

.mks-text-decoration-line-through {
  text-decoration: line-through;
}

.mks-color-red {
  color: red;
}

.mks-color-green {
  color: green;
}

.mks-border-light-gray {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.__old, .deleted {
  font-weight: bold;
  color: red;
  text-decoration: line-through;
}

.__new, .added {
  font-weight: bold;
  color: green;
}

.mks-lists-no-bullets {
  padding-left: 20px;
  list-style-type:none;
}

.list-group-item.mks.__old {
  padding-top: 0px;
  padding-bottom: 0px;
}

.mks.__old {
  background-color: #f2dede;
  //padding-top: 10px;
  //padding-bottom: 10px;
}

.mks.__new {
  background-color: #dff0d8;
  //padding-top: 10px;
  //padding-bottom: 10px;
}

.list-group-item.mks {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}

.list-group.mks {
  font-family: "Courier New";
  font-weight: bold;
  padding-bottom: 0px;
  padding-top: 0px;
  border: none;
  margin-bottom: 0px !important;
}

//.row.mks {
//  padding-top: 0px;
//  padding-bottom: 0px;
//}
//
//.mks.__old.col-xs-6, .mks.__new.col-xs-6 {
//  padding-top: 10px;
//  padding-bottom: 10px;
//}
//
//.mks.list-group-item {
//  padding-top: 0px;
//  padding-bottom: 0px;
//}

.mks-modal-dialog {
  position: fixed;
  top: 100px;
  width: 50%;
  margin: auto;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #aaaaaa;
  h3 {
    margin-top: 0px;
  }
}

button[type=submit] {
  display: none;
}
