.mks-margin-right-5px {
  margin-right: 5px;
}

.mks-invisible {
  visibility: hidden;
}

.mks-background-color {
  background-color: rgb(010, 087, 164);
}

.mks-margin-top-60px {
  margin-top: 0px;
}

.nav-sidebar > li > a.active,
.nav-sidebar > li > a.active:hover,
.nav-sidebar > li > a.active:focus {
  color: #fff;
  background-color: #428bca;
}

.navbar-inverse {
  background-color: #428bca;
  border-color: #428bca;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.mks-width-5em {
  width: 5em;
}

button[type='submit'] {
  position: absolute;
  top: 20px;
  right: 0px;
  content: 'Save';
}

#mks-download-firmware-btn {
  position: relative;
  top: 20px;
  right: 123px;
}
