.mks-margin-right-5px {
  margin-right: 5px;
}

.mks-invisible {
  visibility: hidden;
}

.mks-background-color {
  background-color: rgb(010, 087, 164);
}

.mks-margin-top-60px {
  margin-top: 0px;
}

.nav-sidebar > li > a.active,
.nav-sidebar > li > a.active:hover,
.nav-sidebar > li > a.active:focus {
  color: #fff;
  background-color: #428bca;
}

.navbar-inverse {
  background-color: #428bca;
  border-color: #428bca;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.mks-width-5em {
  width: 5em;
}

button[type='submit'] {
  position: absolute;
  top: 20px;
  right: 0px;
  content: 'Save';
}

#mks-download-firmware-btn {
  position: relative;
  top: 20px;
  right: 123px;
}

.mks-selected.list-group-item-info {
  background-color: #51a0f7;
  border-color: #51a0f7;
  color: white;
}

.mks-position-relative-bottom-5px {
  position: relative;
  bottom: 5px;
}

.mks-position-relative-bottom-3px {
  position: relative;
  bottom: 3px;
}

.mks-position-absolute-right-15px {
  position: absolute;
  right: 15px;
}

.mks-bottom-5px {
  bottom: 5px;
}

.mks-cursor-pointer {
  cursor: pointer;
}

.mks-padding-bottom-2px {
  padding-bottom: 2px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
a.list-group-item-info.active,
a.list-group-item-info.active:focus,
a.list-group-item-info.active:hover,
button.list-group-item-info.active,
button.list-group-item-info.active:focus,
button.list-group-item-info.active:hover {
  color: black;
  background-color: lightblue;
  border-color: lightblue;
}

.list-group-item.mks-active,
.list-group-item.mks-active:focus,
.list-group-item.mks-active:hover,
a.list-group-item-info.mks-active,
a.list-group-item-info.mks-active:focus,
a.list-group-item-info.mks-active:hover,
button.list-group-item-info.mks-active,
button.list-group-item-info.mks-active:focus,
button.list-group-item-info.mks-active:hover {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

.mks-bold {
  font-weight: bold;
}

.mks-position-absolute-top-right-15px {
  position: absolute;
  top: 15px;
  right: 15px;
}


/* color blind */

.list-group-item-success {
  color: black;
  background-color: #1aff1a;
}

.list-group-item-danger {
  color: white;
  background-color: #dc3220;
}

.list-group-item-info {
  color: white;
  background-color: #1a85ff;
}


.list-group-item-info.mks-selected {
  color: white;
  background-color: #005ab5;
}

.mks-color-black {
  color: black;
}
